#xispec_settingsWrapper{
    display: none;
    z-index: 2;
    right: 5%;
    top: 10%;
    width: 550px;
    height: 500px;
    min-width: 500px;
    min-height: 490px;
    font-size: 10pt;
    border: 1px solid #333;
}

#xispec_settingsWrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#xispec_settings_main .xispec_form-control{
  display: inline-block;
  background-color: #fff;
  /* flex-grow: 1; */
}

#xispec_settings_main .xispec_settings-tab{
  flex-grow: 1;
}

#xispec_settings_main #xispec_settingsForm{
  flex-grow: 1;
}

#xispec_settings_main .xispec_flex-column{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

#xispec_settings_main .xispec_flex-row{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

#xispec_settings_main .xispec_flex-grow {
    flex-grow: 1;
    margin-left: 5px;
}

#xispec_settings_main .xispec_flex-grow input{
    width: 100%;
}

#xispec_settings_main .xispec_midDataDiv{
  flex-grow: 1;
}

#xispec_settings_main .xispec_label {
    font-size: 0.9em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: 0;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 0px;
    line-height: 3.5em;
    background-color:  inherit;
}

#xispec_settings_main .xispec_settings-bottom{
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
  bottom: 10px;
  width: 95%;
}

.xispec_settings_menu{
    font-size: 1.5em;
    margin: -6px 0px;
}
.xispec_settings_menu .xispec_btn{
  margin: 0px -5px 0px 0px;
  padding-left: 18px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-radius: 2px 10px 0 0;
  position: relative;
  background: #666!important;
}
.xispec_settings_menu .xispec_active{
  background: #333!important;
}
.xispec_settings_menu .xispec_active:hover {
    color: #fff;
}

#xispec_settings_main{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

#xispec_settings_main .xispec_label .xispec_form-control{
  height: 2.9em;
}

#xispec_settings_main #xispec_settingsPeaklist{
  height:100%;
}

.pointer{
  cursor: pointer;
}

.xispec_resetMod{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAFaUlEQVRoQ+1YaWwUZRh+3plp60pJC4GIZUEgsXigRgvqD0BqW2oLpYWkaLiCoYjUNlgx9fphDcSDCBVbSitVCRCRJYQA5ehFEfihUjRqUFoTqhzVKpRyuWW7O6+Z0iHDdnZnZncIEJhkszPf937P8b3fNUO4xS+6xfXjjoEbncE7Gbg9MjBzixNeKsWmaVl2G76+QyjbJQqSmA+mJQCi5a+n2c5nO6DawxEztibIjAoACWqZb+NU2/lsB0S2K1qSopaAOB+AqB0y3q+ybOezFTBy1tYsMJUAcOqNdY/HE4vN08/ZOQ9sMeCYucUpQyoFIdNAnJuBzQK4snND1gE7jIRnINslRkVF5RFhqTJJLQpqInCFu9PzKTZP91lsezU8LAN3z95eAcJLoZL3tKv6j6NewPrUS6HghGUA2S6xj8ORx4SlZD0DGr3ciAiefKkys82qifAM9LA5cnY5Ra9cCrDRHAh2emwBkH5hbcZRKyZsMaAS9p27IwtEJRRgFTIURmg+Lw0ahc9GdxnG9gTYakDBHJjrir7cGb2E0HsfAKga4NRg4ghY3PHFpBU3zIBKHJNTlSAyVbBmJz77+STql7M7HSyvAjAsgMhzXRFS/MXy1H/MmLA9A9eQZrvE/jHRyo7cfRZqr0zv5oudt/M+gUjZB4boi6TK9sq0+TfeQI+C/jm7nERUemZN2tXT6ID5O+MZdDjA/iFD9A09U55xysjE9c2AAfvABbvfB+MtvTBmIeP0mtSqm9qAc96e/h4Jf+plgcFv/1uR9sFNbUARd8+CPXtBSNQRurGt/LkZthiIW1gzhYE0EF8dcsTU1il5l7eXpJ83IglWf+/C6jIAC3Vijvy1OnWUEbapORCXW90BIKYXGFNe6+qJypIY8jU4t/odRvdh0P/qbC1LdRgBmzIw+JWakwAG9zaADafKJs42IglW78ytWQ/CLJ2YUydXTdR9r9DGmjIwJL/2ezDG6JD8dqI05aFwDAzJq/0VwIO9MAiHTpSkPGmEbcrA0PzaTQCm64DJDocjtmnZ2AtGRHr1IwsP9nW73crwFHTqXcdLUp43wjVlYFh+/Vwm/lIPjIk/Ob4ypcCISK9+2KLaYjC9qtuW6cU/SpLWGuGaMhC/uGFAl9f3t/9Leg84AzShZWXSfiMybf3wRfXjAd4H6J6wfRGSOKh5eeJpI0xTBhSQEQX1O8CYrAtI1CJBTm4uTj5mRKjUxxfUjfBCqAPzcH08VB0rTsowg2XawPBFdY+KgvBjgPGqcF0i8Ou/FyeVByO+v6D+ZQZ9DKBPgDjZJ8uPt6xM/tlWA1d6bu86Jhgtm/uJaTsL8qFIt/CD0s7jkJ8gWRjDxFMAjA8mjBjrm4ufnWNGvBJjOgNK8CNvHuh3ucv3LcDx5ghIvhLHeqvMtRDdSqg5ShKf/uXDcWfN4Vs0oIA+8FpdPAvidwTEmiUJMG+uKWagg3ziU0dXjGu2gmspAyrwyMKG0QLTNgBxVsgCTFiluFUGZzYtS2y0iheSAYVkZOHBOAG+bQSMtkJKvRkbvSxmNi0b22oFR40N2YACMKGoQTrtpvkAvaucjAMK0GdpA/N7Axy8Zl9RojcU8ZYncSCSh4saosVOaQ6DpwJ4BoSIALHK55JviGmr7y7vuiNFiRdDFW5LBvTIE96ojfFIkY8RUxwRdc8RZm5l4tZIr+enwx+l3Hxfp8PtxXDahzUHwiG2q+1tbUAxr/60C4KZTuGeDCj/evemE2SGTBWpHAe0ov2fAxnSivEXqxpQ/5Wjh7ZM+xxkHwzs11+8VrR6r1emNaPc+wtVnrXi1Hv/Mm15SAb8G6kZ0+ttf9Ha4WXU8yEPpf8BwRqnQJnMMukAAAAASUVORK5CYII=);
    height: 16px;
    width: 16px;
    visibility: hidden;
    color: #446EB0;
    margin-left: 5px;
    cursor: pointer;
}

.xispec_settingsDataLeft{
    display: inline;
    margin-right: 2%;
    flex-grow: 5;
    flex-basis: 340px;
}

.xispec_settingsDataRight{
    flex-grow: 1;
}

#xispec_modificationTable .xispec_form-control{
    height: 2.3em;
    font-size: 1em;
}

#xispec_modificationTable_wrapper{
  width: 100%;
  height: auto;
}

#xispec_modificationTable_wrapperOuter{
  width: 100%;
  height: auto;
  margin-top: 15px;
}

#xispec_settingsCustomCfg-input{
  height: 440px;
  width: 100%;
}

#xispec_settings {
    position: absolute;
    top: 20%;
    left: 20%;
}

#xispec_ionSelection {
    background-color: #FFF;
    color: #333;
}

#xispec_settings_main .invisible {
    visibility: hidden;
    display: none;
}

#xispec_settings_main .xispec_userModified{
    background-color: #a0bbde !important;
    font-weight: bold !important;
}

#xispec_settings_main #xispec_ionList input{
    width: unset;
}

#xispec_settingsPeaklist{
  height: 170px;
  min-height: 140px;
  min-width: 220px;
  white-space: nowrap;
  line-height: 1.4em;
  padding-left: 10px;
  padding-top: 8px;
}

#xispec_customCfgHelp{
  display: none;
  height: 500px;
  margin-bottom: 1em;
  white-space: nowrap;
}

#xispec_toggleCustomCfgHelp{
  margin: 0.2em 0em;
}


/*tables*/
#xispec_modificationTable {
    width:100%;
    font-size: 0.9em;
    left: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    border-collapse: separate;
}
#xispec_modificationTable thead{
    margin-top:10px;
    margin-bottom:10px;
}
#xispec_modificationTable th{
    padding-left:5px;
    padding-right:5px;
    vertical-align: middle;
    height: 30px;
}
#xispec_modificationTable td{
    padding-left:5px;
    padding-right:5px;
    vertical-align: middle;
}
#xispec_modificationTable th:first-child{
    padding-left:10px;
}
#xispec_modificationTable th:last-child{
    padding-right:10px;
}
#xispec_modificationTable td:first-child{
    padding-left:10px;
}
#xispec_modificationTable td:last-child{
    padding-right:10px;
}
#xispec_modificationTable tbody tr:hover td, tbody tr:hover td a, .spectrumShown{
    color: #fff;
    background-color: #091D42;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
/* DynDiv 0.5 by Markus Bordihn (markusbordihn.de) */
.xispec_dynTitle {
    position: relative;
    left: 30px;
    top: 2px;
    letter-spacing: 0.5px;
    font-size: 0.9em;
    color: white;
}
.xispec_dynDiv{
    padding-top: 30px;
    background: #333;
    overflow: hidden;
    color:#fff;
    position:fixed;
    pointer-events:all;
    border: 1px solid white;
    border-radius: 5px;
}

.xispec_dynDiv_moveDiv {
 cursor: move;
 position: absolute;
 overflow: hidden;
}

.xispec_dynDiv_resizeDiv_tl,.xispec_dynDiv_resizeDiv_tr,.xispec_dynDiv_resizeDiv_bl,.xispec_dynDiv_resizeDiv_br {
 width: 10px;
 height: 10px;
 background: #750000;
 border: 1px solid #000;
 position: absolute;
}

.xispec_dynDiv_resizeDiv_tl {
 top: -1px;
 left: -1px;
 cursor: nw-resize;
}

.xispec_dynDiv_resizeDiv_tr {
 top: -1px;
 right: -1px;
 cursor: ne-resize;
}

.xispec_dynDiv_resizeDiv_bl {
 bottom: -1px;
 left: -1px;
 cursor: sw-resize;
}

.xispec_dynDiv_resizeDiv_br {
 bottom: -1px;
 right: -1px;
 cursor: se-resize;
}

.xispec_dynDiv_moveParentDiv {
 width: 100%;
 margin: auto;
 height: auto;
 font-size: 1.5em;
 position: absolute;
 top: -1px;
 left: -1px;
 background: #750000;
 border: 1px solid #fff;
 border-left: 0;
 border-right: 0;
 padding: 0;
 overflow: hidden;
 white-space:nowrap;
 cursor: move;
}

.xispec_dynDiv_minmaxDiv {
 position: absolute;
 top: 1px;
 right: 15px;
 width: 15px;
 height: 15px;
 background: #750000;
 font-size: 15px;
 padding: 0;
 margin: 0;
}
